type abm_file, file_type, core_data_file_type, data_file_type, mlstrustedobject;

type signald_file, file_type, core_data_file_type, data_file_type, mlstrustedobject;
