allow platform_app app_data_file:file execute;

allow platform_app signald_file:dir create_dir_perms;
allow platform_app signald_file:file create_file_perms;
allow platform_app signald_file:sock_file create_file_perms;
allow platform_app signald_file:lnk_file create_file_perms;
allow platform_app system_server:unix_stream_socket connectto;

binder_call(platform_app, volla_wireguard)
binder_call(platform_app, mycelium)

set_prop(platform_app, ctl_restart_prop)
