add_service(system_server, volla_service);

allow system_server signald_file:dir create_dir_perms;
allow system_server signald_file:file create_file_perms;
allow system_server signald_file:sock_file create_file_perms;
allow system_server signald_file:lnk_file create_file_perms;

# FaceUnlock
add_service(system_server, faceunlock_service);
typeattribute system_server data_between_core_and_vendor_violators;
allow system_server face_vendor_data_file:file create_file_perms;
allow system_server face_vendor_data_file:dir create_dir_perms;

# unused but lets keep it for now
allow system_server misc_user_data_file:dir create_dir_perms;
allow system_server misc_user_data_file:file create_file_perms;

# firewall needs to read app name
allow system_server proc_net_tcp_udp:file r_file_perms;
