service volla.dnsmasq /system_ext/bin/vdnsmasq --keep-in-foreground -x /data/misc/dhcp/dnsmasq.pid -C /system_ext/etc/volladns.conf --log-queries
    user root
    group root
    writepid /dev/cpuset/foreground/tasks
    disabled
