<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.volla.overlay.nlp"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.volla.nlp" android:priority="1" android:category="android.theme.common" />

    <application android:label="@string/nlp_overlay" android:hasCode="false"/>
</manifest>
