<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.volla.nlp.overlay">
    <overlay android:isStatic="true" android:priority="9998" android:targetPackage="android"/>
    <application android:hasCode="false" android:label="UnifiedNLP overlay"/>
</manifest>
